---

# LDAP requires its own 'enable' file because it does not follow the 
# auth/x/tune convention that most other auth mounts follow

- name: "read ldap config in {{ ns_name }}"
  uri:
    url: "{{ vault_url }}/v1/auth/ldap/config"
    method: GET
    headers:
      X-Vault-Token: "{{ lookup('env', 'VAULT_TOKEN') }}"
      X-Vault-Namespace: "{% if ns_name == 'root'%}{% else %}{{ ns_name }}{% endif %}"
    validate_certs: false
    status_code: 200, 404 # 404 = doesnt exist. need to make
  register: ldap_get

- name: enable ldap auth mount
  uri:
    url: "{{ vault_url }}/v1/sys/auth/ldap"
    method: POST
    body: '{"type": "ldap"}'
    body_format: json
    validate_certs: false
    headers:
      X-Vault-Token: "{{ lookup('env', 'VAULT_TOKEN') }}"
      X-Vault-Namespace: "{% if ns_name == 'root'%}{% else %}{{ ns_name }}{% endif %}"
    status_code: 204, 400 # 400  path already in use
  register: exists
  changed_when: "exists.status == 204"

- name: "create ldap in {{ ns_name }}"
  uri:
    url: "{{ vault_url }}/v1/auth/ldap/config"
    method: POST
    src: "auths/ldap/{{ auth.ldap_config }}.json"
    headers:
      X-Vault-Token: "{{ lookup('env', 'VAULT_TOKEN') }}"
      X-Vault-Namespace: "{% if ns_name == 'root'%}{% else %}{{ ns_name }}{% endif %}"
    validate_certs: false
    status_code: 204
    body_format: json
  when: ldap_get.status == 404
  changed_when: true


