auths/azure/config/*
auths/azure/roles/*
auths/approle/roles/*
engines/azure/config/*
engines/azure/roles/*
engines/database/roles/*
engines/database/config/*
config/*

!**/namespace_config.yml
!**/template.json

*.pyc
